@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
html{
  height: -webkit-fill-available;
} 
#main{

  z-index: -100;
}

#back{
  display: block;
  z-index: -100;
}

#hacker-3d-shiz{
  z-index: -97 !important;
}
body {
    font-family: Source Code Pro;
    background:#000;
    color: #00FF00;
    margin:0;
    font-size: 13px;
    height: 100% !important;
    width: 100% !important;
    z-index: 1;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

canvas {
    position:absolute;


}
.bars-and-stuff{

}

.output-console {
  height: 100%;
  width: 100%;
}
p{margin:0}